@model Bookmarks.Models.BookmarksListViewModel
@using Bookmarks.HtmlHelpers
@{
    ViewBag.Title = "Bookmarks List";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>
    Bookmarks</h2>
@foreach (var bookmark in Model.Bookmarks)
{
    Html.RenderPartial("BookmarkSummary", bookmark);
}
<a href="@Url.Action("New", "Bookmarks")">Create new bookmark</a>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
